.users {
    min-height: 100vh;
    margin: 10px 10px;
}
.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0 0 25px;
}

.page {
    padding: 5px;
    border: teal 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: #87a9e7;
}
.selectedPage {
    font-weight: bold;
    border: #464d91 2px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: darkgray;
}

.usersDescr {
    margin-left: 15px;
}
.usersName {
    color: #0015ff;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 0 15px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.pagination .text {
    opacity: 0.6;
    font-size: 1rem;
}
.disabled {
    background-color: transparent !important;
    cursor: not-allowed;
    opacity: 0.5;
    padding: 5px;
    border: teal 1px solid;
    border-radius: 5px;
}
.descr {
    font-size: 18px;
    font-style: italic;
    margin: 5px;
}