.header {
    grid-area: h;
    background-color: rgba(72, 61, 139, 0.8);
}

.header img {
    width: 70px;
}

.loginBlock {
    float: right;
    font-family: "Bookman Old Style", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.loginBlock a {
    color: white;
}
.titleLogin {

}
.button {
    cursor: pointer;
    border: 2px #fcfafc solid;
    border-radius: 10px;
    color: white;
    background: transparent;
    margin: 15px 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}