
.nav {
    grid-area: n;
    background-color: rgba(135, 196, 222, 0.94);
    padding: 20px;
    font-size: large;
}
.item a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.item a.activeLink {
    color: #0015ff;
    font-weight: bold;
}